@page "/"

@using WarehouseManagement.Shared.Models.Product

@inject HttpClient Http
@inject ISnackbar Snackbar

<MudGrid>
	<MudItem xs="12">
		<div class="user-card d-flex align-items-center justify-content-between p-2">
			<div class="d-flex align-items-center">
				<!-- Icon -->
				<div class="icon-box d-flex align-items-center justify-content-center me-3">
					<MudIcon Icon="@Icons.Material.Filled.AlignHorizontalLeft"></MudIcon>
				</div>

				<!-- Text -->
				<div>
					<div class="fw-semibold fs-5">Hello, Demo User</div>
					<div class="text-muted">Demo Org</div>
				</div>
			</div>
			<div>
				<!-- Text -->
				<div>
					<div style="font-size: 14px">WareSmart Inventory Helpline: <strong>+84 123456789</strong></div>
					<MudText Typo="Typo.h6">@currentTime</MudText>
				</div>
			</div>

		</div>
	</MudItem>

	<MudItem xs="12">
		<MudTabs @bind-ActivePanelIndex="_tab">

			<MudTabPanel Icon="@Icons.Material.Filled.Dashboard" Text="Dashboard">
				<MudGrid>
					<MudItem xs="7">
						<MudPaper Class="pa-6">

							<MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mb-4">
								<MudText Typo="Typo.h6">Top Selling Items</MudText>

								<MudSelect T="string" @bind-Value="period" Variant="Variant.Text">
									<MudSelectItem Value="@("Today")">Today</MudSelectItem>
									<MudSelectItem Value="@("Week")">This Week</MudSelectItem>
									<MudSelectItem Value="@("ThisMonth")">This Month</MudSelectItem>
								</MudSelect>
							</MudStack>

							<MudGrid>

								@foreach (var item in topItems.Take(4))
								{
									<MudItem xs="12" sm="6" md="3">
										<MudCard Class="h-100 d-flex flex-column">

											<MudCardMedia Image="https://images.unsplash.com/photo-1772955543023-a6e99819e161?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
														  Height="120" />

											<MudCardContent Class="d-flex flex-column justify-space-between flex-grow-1">
												<MudText Typo="Typo.h6" Style="min-height:48px">
													@item.Name
												</MudText>
												<div>
													<MudText Typo="Typo.body2">@item.Quantity Pcs</MudText>
													<MudText Typo="Typo.body2" Color="Color.Success">
														▲ @item.Percent %
													</MudText>
												</div>

											</MudCardContent>

										</MudCard>
									</MudItem>
								}

							</MudGrid>

						</MudPaper>
					</MudItem>

					<MudItem xs="5" md="3">
						<MudPaper Class="pa-4">
							<MudText Typo="Typo.h6">Products</MudText>
							<MudText Typo="Typo.h4">120</MudText>
						</MudPaper>
					</MudItem>

					<MudItem xs="12" md="3">
						<MudPaper Class="pa-4">
							<MudText Typo="Typo.h6">In Stock</MudText>
							<MudText Typo="Typo.h4">95</MudText>
						</MudPaper>
					</MudItem>

					<MudItem xs="12" md="3">
						<MudPaper Class="pa-4">
							<MudText Typo="Typo.h6">Out of Stock</MudText>
							<MudText Typo="Typo.h4">25</MudText>
						</MudPaper>
					</MudItem>

					<MudItem xs="12">
						<MudPaper Class="pa-4">
							<MudText Typo="Typo.h6">Recent Products</MudText>
						</MudPaper>
					</MudItem>
				</MudGrid>
			</MudTabPanel>

			<MudTabPanel Icon="@Icons.Material.Filled.PlayArrow" Text="Getting started">
				<MudText>
					Getting started content
				</MudText>
			</MudTabPanel>

			<MudTabPanel Icon="@Icons.Material.Filled.Build" Text="Recent Updates">
				<MudText>
					Recent updates content
				</MudText>
			</MudTabPanel>

		</MudTabs>
		<hr class="my-5 w-100">
	</MudItem>

	@* <MudItem xs="6">
		<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6</MudPaper>
	</MudItem>
	<MudItem xs="6">
		<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6</MudPaper>
	</MudItem>
	<MudItem xs="3">
		<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
	</MudItem>
	<MudItem xs="3">
		<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
	</MudItem>
	<MudItem xs="3">
		<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
	</MudItem>
	<MudItem xs="3">
		<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
	</MudItem> *@
</MudGrid>

@code {
	string searchText = "";

	List<ProductViewModel>? listProduct;

	int _tab = 0;

	string period = "Today";

	string currentTime = DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss");
	System.Timers.Timer? timer;

	protected override void OnInitialized()
	{
		timer = new System.Timers.Timer(1000);

		timer.Elapsed += (s, e) =>
		{
			currentTime = DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss");
			InvokeAsync(StateHasChanged);
		};

		timer.Start();
	}

	public void Dispose()
	{
		timer?.Dispose();
	}

	private async Task LoadProducts()
	{
		try
		{
			listProduct = await Http.GetFromJsonAsync<List<ProductViewModel>>(
				"api/Test/allProduct");

			if (listProduct == null || listProduct.Count == 0)
			{
				Snackbar.Add("No products found.", Severity.Warning);
			}
			else
			{
				Snackbar.Add("Products loaded successfully.", Severity.Success);
			}
		}
		catch
		{
			Snackbar.Add("Error loading products.", Severity.Error);
		}
	}

	void OnSearchChanged(string value)
	{

		searchText = value;
	}

	class TopItem
	{
		public string? Name { get; set; }
		public int Quantity { get; set; }
		public int Percent { get; set; }
	}

	List<TopItem> topItems = new()
	{
		new() { Name="Queen Size Bed", Quantity=344, Percent=344 },
		new() { Name="Queen Size Bed", Quantity=280, Percent=280 },
		new() { Name="Area Rug", Quantity=299, Percent=299 },
		new() { Name="Queen Size Bed", Quantity=236, Percent=236 },
		new() { Name="Patio Dining Set", Quantity=190, Percent=190 }
	};
}