@inherits LayoutComponentBase

@using MudBlazor

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>

	<!-- Sidebar -->
	<MudDrawer @bind-Open="_drawerOpen"
			   Variant="DrawerVariant.Mini"
			   Elevation="1">

		<NavMenu />

	</MudDrawer>


	<!-- Main -->
	<MudMainContent>

		<MudAppBar Elevation="1" Fixed="true">

			<!-- Toggle sidebar -->
			<MudIconButton Icon="@Icons.Material.Filled.Menu"
						   Color="Color.Inherit"
						   OnClick="ToggleDrawer" />

			<MudText Typo="Typo.h6" Class="ml-2">
				Warehouse Management
			</MudText>

			<!-- Search -->
			<SearchBar @bind-SearchText="searchText"
					   @bind-Category="category"
					   Placeholder="Search..." />

			<MudSpacer />

			<MudIconButton Icon="@Icons.Material.Filled.Add"
						   Variant="Variant.Outlined"
						   Color="Color.Secondary"
						   Size="Size.Large"
						   Style="width:48px;height:48px; margin-right: 10px;" />

			<MudFab Color="Color.Transparent" StartIcon="@Icons.Material.Filled.Settings" />

			<MudIconButton Icon="@Icons.Material.Filled.Notifications" /> 

			<div class="ml-2"></div>

			<UserMenu UserName="Admin"></UserMenu>

			<MudIconButton Icon="@Icons.Material.Filled.BarChart"></MudIconButton>

		</MudAppBar>


		<MudContainer MaxWidth="MaxWidth.False" Class="mt-6">
			@Body
		</MudContainer>

	</MudMainContent>

</MudLayout>


@code {

	private bool _drawerOpen = true;

	string searchText = "";
	string category = "name";

	void ToggleDrawer()
	{
		_drawerOpen = !_drawerOpen;
	}
}